# P Matrix

### Import module and read file

In [22]:
import pandas as pd
import numpy as np

In [23]:
p1 = pd.read_csv('../markov-chains/four-day-mc.csv')
vol = p1['Unnamed: 0']
p1 = p1.drop(columns=['Unnamed: 0'])

### p1

In [24]:
p1.head(5)

,0,50,100,150,200,250,300,350,400,450,...,1350,1400,1450,1500,1550,1600,1650,1700,1750,1800
0,0.135335,0.081201,0.159696,0.144065,0.143797,0.144341,0.109441,0.060138,0.019399,0.002587,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.135335,0.081201,0.159696,0.144065,0.143797,0.144341,0.109441,0.060138,0.019399,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.135335,0.081201,0.159696,0.144065,0.143797,0.144341,0.109441,0.060138,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.135335,0.081201,0.159696,0.144065,0.143797,0.144341,0.109441,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.135335,0.081201,0.159696,0.144065,0.143797,0.144341,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### p2

In [30]:
# Computing for p2
p1_matrix = p1.values
p2_matrix = np.matmul(p1_matrix, p1_matrix)

p2 = pd.DataFrame(p2_matrix, index=p1.index, columns=p1.columns)

p2.head(1)

,0,50,100,150,200,250,300,350,400,450,...,1350,1400,1450,1500,1550,1600,1650,1700,1750,1800
0,0.018316,0.021979,0.049819,0.064929,0.087821,0.108435,0.119746,0.121585,0.112238,0.096103,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### p3

In [29]:
# Computing for p3
p3_matrix = np.matmul(p2_matrix, p1_matrix)

p3 = pd.DataFrame(p3_matrix, index=p1.index, columns=p1.columns)

p3.head(1)

,0,50,100,150,200,250,300,350,400,450,...,1350,1400,1450,1500,1550,1600,1650,1700,1750,1800
0,0.002479,0.004462,0.011452,0.018981,0.030913,0.045156,0.06073,0.076181,0.088937,0.097632,...,1.730542e-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### p4

In [28]:
# Computing for p4
p4_matrix = np.matmul(p2_matrix, p2_matrix)

p4 = pd.DataFrame(p4_matrix, index=p1.index, columns=p1.columns)

p4.head(1)

,0,50,100,150,200,250,300,350,400,450,...,1350,1400,1450,1500,1550,1600,1650,1700,1750,1800
0,0.000335,0.000805,0.002308,0.004568,0.008553,0.014302,0.022119,0.031926,0.043181,0.055164,...,0.000635,0.000248,0.000085,0.000025,0.000006,0.000001,1.767760e-07,1.927004e-08,1.342860e-09,4.476200e-11

### Expected Cost Calculation

In [ ]:
# variable shipment cost
k = 0.0

# inventory holding cost
c = 0.54

# cost of truck 900 cubic feet
K1 = 279.6

# cost of truck 1800 cubic feet
K2 = 428.0